

*.dart linguist-detectable=true


*.cpp linguist-detectable=false
*.h linguist-detectable=false
*.cc linguist-detectable=false


CMakeLists.txt linguist-detectable=false
*.cmake linguist-detectable=false

ios/Runner/** linguist-vendored
android/app/src/main/cpp/** linguist-vendored
native/** linguist-vendored
