
*.dart linguist-detectable=true


*.cpp linguist-detectable=false
*.h linguist-detectable=false
*.cc linguist-detectable=false


native/** linguist-vendored
ios/Runner/** linguist-vendored
android/app/src/main/cpp/** linguist-vendored


*.java linguist-detectable=false
*.kt linguist-detectable=false
*.swift linguist-detectable=false
